<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="main5">
    <el-form ref="form" :model="form" label-width="80px" :disabled="disabled">
      <el-form-item label="姓名">
        <el-input v-model="form.studentName"></el-input>
      </el-form-item>
      <el-form-item label="性别">
        <el-radio-group v-model="form.sex">
          <el-radio label="男"></el-radio>
          <el-radio label="女"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="学号" >
        <el-input v-model="form.studentNum" readonly></el-input>
      </el-form-item>
      <el-form-item label="院系">
        <el-input v-model="form.dep"></el-input>
      </el-form-item>
      <el-form-item label="专业">
        <el-input v-model="form.major"></el-input>
      </el-form-item>
      <el-form-item label="班级">
        <el-input v-model="form.banji"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="form.phone"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">修改信息</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-form-item>
    </el-form>
    <div>
      <button @click="startUpdate">修改信息</button>
    </div>
  </div>


  <!--    导入element-ui和vue-->
  <script src="../js/vue.js"></script>
  <script src="../element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el:"#main5",
    data() {
      return {
        form: {
          studentName: '',
          sex:'',
          studentNum:'',
          dep:'',
          major:'',
          banji:'',
          phone:''
        },
        p:{num:""},
        disabled:true,
      }
    },
    //Vue对象初始化完成后自动执行
    created(){
      this.getAll();
      localStorage.setItem("url","../fitting/main5.html");
    },
    methods:{
      //提交修改
      onSubmit() {
        var num = this.form.studentNum;
        var name = this.form.studentName;
        var sex = this.form.sex;
        var dep = this.form.dep;
        var major = this.form.major;
        var banji = this.form.banji;
        var phone = this.form.phone;
        if(name.toString().length === 0){
          alert("姓名不可为空")
        }else if (sex.toString().length === 0){
          alert("性别不可为空")
        }else if (dep.toString().length === 0){
          alert("院系不可为空")
        }else if (major.toString().length === 0){
          alert("专业不可为空")
        }else if (banji.toString().length === 0){
          alert("班级不可为空")
        }else if(phone.toString().length === 0){
          alert("电话不可为空")
        }else{
          //发送请求 更改个人信息
          axios({
            method:"post",
            url:"http://localhost:8080/graduation_design/studentMessage/1",
            data:{
              num:num,
              name:name,
              sex:sex,
              dep:dep,
              major:major,
              banji:banji,
              phone:phone
            },headers:{
              "Content-Type":"application/x-www-form-urlencoded;charset=UTF-8"
            }
          }).then(res=>{
            if(res.data.toString() === "true"){
              alert("修改成功");
              this.cancel();
            }else {
              alert("修改数据与之前一直");
            }
          })
        }
      },
      getAll(){
        this.getAccountName();
        var num =this.p.num;
        // 通过学号查信息填入网页
        axios({
          method:"get",
          url:"http://localhost:8080/graduation_design/inOutLog/5/num/"+num,
        }).then(res=>{
          this.form=res.data;
        })
      },
      getAccountName(){
        this.p.num=localStorage.getItem("key");
      },
      //修改信息即将disabled属性打开
      startUpdate(){
        this.disabled = false;
      },
      cancel(){
        this.getAll();
        this.disabled = true;
      },
    }
  })
</script>
</body>
</html>